<!DOCTYPE html>
<html lang="en">
<head><title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><h2>머신러닝</h2>
    <p>지도학습(supervised), 자율학습(Un-supervised), 강화학습(reinforcement)</p>
    <table class="table">
        <thead>
        <tr class="danger">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.</td>
            <td><a href="/move/ui_calc">UI 계산기</a> | <a href="/move/ai_calc">AI 계산기</a></td>
            <td>Modeling</td>
            <td>모델 생성, 저장, 재활용</td>
        </tr>
        <tr class="warning">
            <td>2.</td>
            <td><a href="move/titanic">타이타닉 </a></td>
            <td>Preprocessong</td>
            <td></td>
        </tr>
        <tr>
            <td>3.</td>
            <td><a href="/move/gradient_descent"></a></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="warning">
            <td>4.</td>
            <td><a href="">  </a></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5.</td>
            <td><a href="/move/iris">  </a></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="warning">
            <td>6.</td>
            <td><a href="/move/cabbage">  </a></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>7.</td>
            <td><a href="/move/stock_ticker">  </a></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="warning">
            <td>8.</td>
            <td><a href="/move/bitcoin">  </a></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>